<div class="container">
  <div class="row my-3">
    <div class="col-lg-12">
      <h1>task detail</h1>

      <h3><%= @task.project.name %></h3>
      <p>
        <%= link_to 'edit',edit_organization_project_task_path(@task.id) %>
        <%= link_to 'delete',organization_project_task_path(@task.id),method: :delete, data: { confirm: '本当に消しますか？' } %>
      </p>
      <table class='table'>
        <thead>
          <tr>
            <th>task</th>
            <th>man hour</th>
            <th>deadline</th>
            <th>status</th>
            <th>person</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><%= @task.name %></td>
            <td><%= @task.man_hour %></td>
            <td><%= @task.deadline.strftime("%Y/%m/%d %H:%M") %></td>
            <td><%= @task.status %></td>
            <td><%= @task.user.name %></td>
          </tr>
        </tbody>
      </table>
      <br>
      <table class='table'>
        <thead>
          <tr>
            <th>detail</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><%= @task.detail %></td>
          </tr>
        </tbody>
      </table>

      <div>
        <div class="font-weight-bold">comment</div>
        <% if @task.comments.exists? %>
          <% @task.comments.each do |comment| %>
            <span>
              <span><%= attachment_image_tag(comment.user, :profile_image, :fill, 100, 100, fallback: "no-image-icon.jpeg", size: '40x40') %></span>
              <%= comment.user.name %>
            </span>
            <span>
              <span class="font-weight-bold">datetime:</span>
              <%= comment.created_at.strftime("%Y/%m/%d %H:%M") %>
            </span>
            <div>
              <%= comment.content %>
            </div>

            <% if comment.user == current_user %>
              <div>
                <%= link_to "delete", organization_project_task_comment_path(@task.project.organization_id,@task.project_id,@task.id,comment.id), method: :delete %>
              </div>
            <% end %>

            <br>
          <% end %>
        <% else %>
          <div>no comments submitted yet</div>
        <% end %>
        </div>
        <br>
        <div>
        <%= form_with(model:[@task, @comment],url: organization_project_task_comments_path(@task.project.organization_id,@task.project_id,@task.id), local: true) do |f| %>
          <%= f.text_area :content, size: "60x10", rows:'5' ,placeholder: "new comment" %>
          <br>
          <%= f.submit "Comment" %>
        <% end %>
      </div>
      <br>
      <p><%= link_to 'back',organization_project_path(@task.project.organization_id,@task.project_id)%></p>
    </div>
  </div>
</div>