<div class="container">
  <div class="row my-3">
    <div class="col-lg-4">
    <% if @user == current_user %>
      <h1>my page</h1>
    <% else %>
      <h1>user info</h1>
    <% end %>
      <div>
        <%= attachment_image_tag(@user, :profile_image, :fill, 100, 100, fallback: "no-image-icon.jpeg", size: '100x100') %>
      </div>
      <p class="font-weight-bold border-bottom">name</p>
      <p><%= @user.name %></p>
      <p class="font-weight-bold border-bottom">organization</p>
      <% @user.organizations.each do |organization| %>
        <p><%= link_to organization.name, organization_path(organization.id) %></p>
      <% end %>
      <p class="font-weight-bold border-bottom">introduction</p>
      <p><%= @user.introduction %></p>
      <p><%= link_to 'edit profile',edit_user_path(@user) %></p>
    </div>

    <div class="col-lg-8" style="height: 100%">
      <table class='table'>
        <thead>
          <tr>
            <th>task</th>
            <th>man hour</th>
            <th>deadline</th>
            <th>status</th>
          </tr>
        </thead>
        <tbody>
          <% @user.tasks.each do |task| %>
          <tr>
            <td><%= link_to task.name,organization_project_task_path(task.project.organization_id,task.project_id,task.id) %></td>
            <td><%= task.man_hour %></td>
            <td><%= task.deadline.strftime("%Y/%m/%d %H:%M") %></td>
            <td><%= task.status %></td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>

  </div>
</div>