<div class="container">
  <div class="row my-3">
    <div class="col-lg-4">
      <h1>set spendable</h1>
      <span class="font-weight-bold">member</span>
      <br>
      <span><%= @member.user.name %></span>
      <div>
        <%= form_with model:@member,url:project_member_spendable_update_path,local:true do |f| %>
          <div class="font-weight-bold">
            <%= f.label :spendable %><br>
            <%= f.text_area :spendable_hour %>
          </div>
          <div>
            <%= f.submit class: 'btn btn-success' %>
          </div>
        <% end %>
      </div>


    </div>
  </div>
</div>
