<div class="container">
  <div class="row my-3">
    <div class="col-lg-12">

      <h1>organization index</h1>
      <P><%= link_to 'new organization',new_organization_path %></P>
      <table class='table'>
        <thead>
          <tr>
            <th>name</th>
            <th>introduction</th>
            <th>owner</th>
            <th>belonging</th>
          </tr>
        </thead>
        <tbody>
          <% @organization.each do |organization| %><%# ログインユーザの情報だけ取得したい %>
          <tr>
            <td><%= link_to organization.name, organization_path(organization.id) %></td>
            <td><%= organization.introduction %></td>
            <td><%= User.find(organization.user_id).name %></td>
            <td><%= Belonging.where(organization_id: organization.id).count %></td>
          </tr>
          <% end %>
        </tbody>
      </table>

    </div>
  </div>
</div>

