<div class="container">
  <div class="row my-3">
    <div class="col-lg-3">

      <h1>organization index</h1>
      <P><%= link_to 'new organization',new_organization_path %></P>
      <table class='table'>
        <thead>
          <tr>
            <th>name</th>
            <th>introduction</th>
            <th>owner</th>
            <th>member</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% @organization.each do |organization| %>
          <tr>
            <td><%= link_to organization.name, organization_path(organization.id) %></td>
            <td><%= organization.introduction %></td>
            <td><%= User.find(organization.user_id).name %></td>
            <td>メンバーカウント(link)</td>
            <% if organization.user_id == current_user.id %>
              <td>
                <%= link_to 'edit',edit_organization_path(organization.id) %>
                <%= link_to 'delete',organization_path(organization.id),method: :delete, data: { confirm: '本当に消しますか？' } %>
              </td>
            <% end %>
          </tr>
          <% end %>
        </tbody>
      </table>
      
    </div>
  </div>
</div>

