<div class="container">
  <div class="row my-3">
    <div class="col-lg-12">
        <h1>my organization</h1>
        <p class="text-right"><%= link_to 'new organization',new_organization_path, class: "btn btn-primary" %></p>
      <table class='table'>
        <thead>
          <tr>
            <th>name</th>
            <th>owner</th>
            <th>belonging</th>
          </tr>
        </thead>
        <tbody>
          <% @user.organizations.each do |organization| %>
          <tr>
            <td><%= link_to organization.name, organization_path(organization.id) %></td>
            <td>
              <span><%= attachment_image_tag(User.find(organization.user_id), :profile_image, :fill, 100, 100, fallback: "no-image-icon.jpg", size: '40x40', class: "profile_img") %></span>
              <span><%= link_to User.find(organization.user_id).name,user_path(organization.user_id) %></span>
            </td>
            <td><%= link_to Belonging.where(organization_id: organization.id).count, organization_belonging_path(organization.id) %></td>
          </tr>
          <% end %>
        </tbody>
      </table>

    </div>
  </div>
</div>

