<div class="container">
  <div class="row my-3">
    <div class="col-lg-12">

      <h1>organization detail</h1>

      <table class='table'>
        <thead>
          <tr>
            <th>name</th>
            <th>introduction</th>
            <th>owner</th>
            <th>member</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><%= @organization.name %></td>
            <td><%= @organization.introduction %></td>
            <td><%= User.find(@organization.user_id).name %></td>
            <td>メンバーカウント(link)</td>
            <% if @organization.user_id == current_user.id %>
              <td>
                <%= link_to 'edit',edit_organization_path(@organization.id) %>
                <%= link_to 'delete',organization_path(@organization.id),method: :delete, data: { confirm: '本当に消しますか？' } %>
              </td>
            <% end %>
          </tr>
        </tbody>
      </table>

      <h2>projects</h2>
      <P><%= link_to 'new project',new_organization_project_path(@organization.id) %></P>

      <table class='table'>
          <thead>
            <tr>
              <th>name</th>
              <th>overview</th>
              <th>man hour</th><%# taskのman_hourの合計 %>
              <th>owner</th>
              <th>member</th>
            </tr>
          </thead>
          <tbody>
            <% @organization.projects.each do |project| %>
            <tr>
              <td><%= link_to project.name, organization_project_path(@organization.id,project.id) %></td><%# 遷移先が意図通りに動かない　%>
              <td><%= project.overview %></td>
              <td>タスクの合計時間</td>
              <td><%= User.find(project.user_id).name %></td>
              <td>メンバーカウント(link)</td>
            </tr>
            <% end %>
          </tbody>
        </table>

    </div>
  </div>
</div>